{% extends 'base.html' %}
{% block content %}

<br>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col"> Label </th>
      <th scope="col"> Begin Date </th>
      <th scope="col"> End Date </th>
      <th scope="col"> Periodicity </th>
      <th scope="col"> Completed </th>
    </tr>
  </thead>
  <tbody>
    {% for habit in habits %}
    <tr>
      <td> {{habit.label}}</td>
      <td> {{habit.begin_date }}</td>
      <td> {{habit.end_date }}</td>
      <td style="text-align: center;"> {{habit.periodicity }} {{habit.periodicity_type}} </td>
      <td style="text-align: center;"> {{habit.completed}}</td>

      <td class = "d-flex flex-row justify-content-around"> 
        <form method="post" action = "delete/{{habit.id}}">
        {% csrf_token %} 
        <input type="submit" value="Delete" class = "btn btn-danger" onclick="return confirm('Are you sure you want to delete this habit?');"> 
       </form>   
        <a href = "{% url 'update' habit.id %}"  ><button class = "btn btn-primary"> Edit Habit</button></a>
        <a href = "{% url 'show_tasks' habit.id %}"  ><button class = "btn btn-primary"> Show Tasks </button></a>
      </td>
    </tr>
    {% endfor %}
     </tbody>
</table>
{% endblock %}